---
# FEATURE_NAME: build_and_dispatch_docker_images
# FEATURE_VERSION: build_and_dispatch_docker_images-v5.1.3
# FEATURE_URL: https://github.com/prefapp/features/tree/build_and_dispatch_docker_images-v5.1.3/packages/build_and_dispatch_docker_images

name: Build Docker pre-releases
run-name: Generating pre-releases images for flavors "${{ inputs.flavors || 'auto-build' }}" at "${{ inputs.from || github.event.release.tag_name }}"

concurrency:
  group: ${{ github.workflow }}-${{ inputs.from || github.event.release.tag_name }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      from:
        type: string
        description: Git tag to build
        required: false
      flavors:
        type: string
        description: Flavor name/s | one (alone), several (separated by commas)
        required: true
        default: "*"

  release:
    types: [prereleased]

permissions:
  id-token: write
  contents: write
  packages: write

jobs:
  build-docker-pre-releases:
    uses: prefapp/firestarter-workflows/.github/workflows/build_images.yaml@v3
    with:
      type: snapshots
      from: ${{ inputs.from || github.event.release.tag_name }}
      flavors: ${{ inputs.flavors || '' }}
      auth_strategy: aws_oidc
      check_run_name: Firestartr Docker Images Summary
      workflows_repo: prefapp/firestarter-workflows
      workflows_repo_ref: v3
    secrets:
      FS_CHECKS_PEM_FILE: "${{ secrets.FS_CHECKS_PEM_FILE }}"
      DOCKER_REGISTRY_SNAPSHOTS_CREDS: "${{ secrets.DOCKER_REGISTRY_SNAPSHOTS_CREDS }}"
      DOCKER_REGISTRY_RELEASES_CREDS: "${{ secrets.DOCKER_REGISTRY_RELEASES_CREDS }}"
      GITHUB_DOCKER_REGISTRY_CREDS: "${{secrets.GITHUB_DOCKER_REGISTRY_CREDS}}"
